<div class="c-card">
    <h4 class="c-card__title"><%= article.title %></h4>
    <p class="c-card__date"><%= article.date.toLocaleDateString() %></p>
    <p class="c-card__text"><%= article.description %></p>
    <p class="c-card__text"><%= article.markdown %></p>
    <a href="articles/<%= article.id %>" class="c-btn c-btn--primary">Read More</a>
</div>
